<div class="navigator-container">
    <mat-card class="avatar">
        <img mat-card-avatar src="./assets/img/avatar.JPEG" alt="">
        <span class="user">Eduardo</span>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-action-list>
        <mat-list-item routerLinkActive="active">
            <a class="nav-link" routerLink="home">Inicio</a>
        </mat-list-item>
        <mat-list-item routerLinkActive="active">
            <a class="nav-link" routerLink="characters">Characters</a>
        </mat-list-item>
        <mat-list-item routerLinkActive="active">
            <a class="nav-link" routerLink="comics">Comics</a>
        </mat-list-item>
        <mat-list-item routerLinkActive="active">
            <a class="nav-link" routerLink="series">Series</a>
        </mat-list-item>
    </mat-action-list>
</div>