.active-menu {
    border-left: solid 2px red;
}

.mat-list-item {
    color: #fff;
}
.nav-link {
    color: #fff;
}

.navigator-container {
    background:rgb(24, 22, 22) !important;
    color: #fff;
  }

.avatar {
    background-color: black !important;
    color: #fff;
    font-size: x-large;
    
  }
.user {
    align-items: center;
}