<br>
<button (click)="logout()" class="float-right btn btn-outline-danger">Logout</button>

<div class="text-center">
        
    <h1 class="titulo">{{title}}: <small>{{serie.title}}</small></h1>

</div>
    <div class="row">
        <div class="col-sm-6">
            <img src="{{serie.thumbnailPath}}.{{serie.thumbnailExtension}}" alt="..." class="img-thumbnail">
        </div>
        <div class="col-sm-6">

            <p><strong>DESCRIPTION:</strong> {{serieDesc}}</p>
            
            <a href="{{serie.urls}}" target="_blank" class="btn btn-outline-danger btn-block">More Details</a><br>

            <a routerLink="/series" class="float-right btn btn-outline-danger btn-warning">Return</a>


        </div>
    </div>