<mat-drawer-container class="menu-container" hasBackdrop="true">
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <img alt="" src="./assets/img/Marvel-Logo.png" height="50px" width="100px" routerLink="home">
      <a class="nav-link" routerLink="home">Home</a>
      <a class="nav-link" routerLink="characters">Characters</a>
      <a class="nav-link" routerLink="comics">Comics</a>
      <a class="nav-link" routerLink="series">Series</a>
      <span class="div-spacer"></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>